<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD034C8C1D87D5B100D7FAE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD034CA01D87D5B100D7FAE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD034CAB1D87D5B100D7FAE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
